<div class="left-side">
    <button class="download pure-button pure-button-primary" (click)="download()">Download data</button>
    <button class="demo pure-button pure-button-primary" (click)="demo()">See demo</button>

    <form class="pure-form pure-form-stacked" (submit)="handleUploadedData($event)">
        <fieldset>
            <app-label-tooltip labelText="Saved data"
                tooltipText="Upload previously saved data to display on the canvas (that includes size of canvas, background and offset). The existing canvas will be overriden!">
            </app-label-tooltip>
            <input type="file" />
            <button type="submit" class="pure-button button-secondary">Upload</button>
        </fieldset>
    </form>

    <form class="pure-form pure-form-stacked" (submit)="uploadStageBackground($event)">
        <fieldset>
            <app-label-tooltip labelText="Background" tooltipText="Upload background for the canvas.">
            </app-label-tooltip>
            <input type="file" />
            <button type="submit" class="pure-button button-secondary">Upload</button>
        </fieldset>
    </form>

    <form class="pure-form pure-form-stacked" (submit)="handleBackgroundOffsetChange($event)">
        <fieldset>
            <app-label-tooltip labelText="Background offset"
                tooltipText="Set the offset for uploaded background. Offset will be count in pixels. You should provide X and Y coordinates separated with comma, example: '20,15'">
            </app-label-tooltip>
            <input type="text" />
            <button type="submit" class="pure-button button-secondary">Change</button>
        </fieldset>
    </form>

    <form class="pure-form pure-form-stacked" (submit)="handleStageSizeChange($event)">
        <fieldset>
            <app-label-tooltip labelText="Size of canvas"
                tooltipText="Set the size of canvas. Size will be count in pixels. You should provide width and height coordinates values with comma, example: '900,500'">
            </app-label-tooltip>
            <input type="text" />
            <button type="submit" class="pure-button button-secondary">Change</button>
        </fieldset>
    </form>
</div>

<div class="right-side">
    Canvas:
    <div id="canvas-container"></div>
    <div id="menu" #menu>
        <div>
            <button id="delete-point-btn" (click)="contextMenuDeletePoint($event)" #deletePointMenu>Delete
                point</button>
            <button id="delete-text-btn" (click)="contextMenuDeleteText($event)" #deleteTextMenu>Delete text</button>
            <button id="add-text-btn" (click)="contextMenuAddText($event)">Add text</button>
            <button id="close-btn" (click)="contextMenuCloseMenuAction($event)">Close menu</button>
        </div>
    </div>
</div>