<div class="left-side">
    <p class="app-name">Simple Mapper</p>
    <p class="app-author">Made by <a href="https://github.com/palprz/simple-mapper">Shammy</a></p>
    <button class="download pure-button pure-button-primary" (click)="download()">Download data</button>
    <button class="demo pure-button pure-button-primary" (click)="demo()">See demo</button>


    <form class="pure-form pure-form-stacked" (submit)="handleUploadedData($event)">
        <fieldset>
            <app-label-tooltip labelText="Saved data"
                tooltipText="Upload previously saved data to display on the canvas (that includes size of canvas, background and offset). The existing canvas will be overriden!">
            </app-label-tooltip>
            <input type="file" />
            <button type="submit" class="pure-button button-secondary">Upload</button>
        </fieldset>
    </form>

    <form class="pure-form pure-form-stacked" (submit)="uploadStageBackground($event)">
        <fieldset>
            <app-label-tooltip labelText="Background" tooltipText="Upload background for the canvas.">
            </app-label-tooltip>
            <input type="file" />
            <button type="submit" class="pure-button button-secondary">Upload</button>
        </fieldset>
    </form>

    <button class="remove-background pure-button button-secondary" (click)="removeBackground()">Remove
        background</button>

    <form class="pure-form pure-form-stacked" (submit)="handleBackgroundOffsetChange($event)">
        <fieldset>
            <app-label-tooltip labelText="Background offset"
                tooltipText="Set the offset for uploaded background. Offset will be count in pixels. You should provide X and Y coordinates separated with comma, example: '20,15'">
            </app-label-tooltip>
            <input type="text" />
            <button type="submit" class="pure-button button-secondary">Change</button>
        </fieldset>
    </form>

    <form class="pure-form pure-form-stacked" (submit)="handleStageSizeChange($event)">
        <fieldset>
            <app-label-tooltip labelText="Size of canvas"
                tooltipText="Set the size of canvas. Size will be count in pixels. You should provide width and height coordinates values with comma, example: '900,500'">
            </app-label-tooltip>
            <input type="text" />
            <button type="submit" class="pure-button button-secondary">Change</button>
        </fieldset>
    </form>
</div>

<div class="right-side">
    <span>- Left click on the canvas to start adding the shape.</span>
    <span>- Finish the shape by double click the same spot.</span>
    <span>- Right click to get context menu with more options</span>
    <div id="canvas-container"></div>
    <div id="menu" #menu>
        <div>
            <button (click)="contextMenuDeletePoint()" #deletePointMenu>Delete point</button>
            <button (click)="contextMenuDeleteText()" #deleteTextMenu>Delete text</button>
            <button (click)="contextMenuAddText()">Add text</button>
            <button (click)="contextMenuCloseMenuAction()">Close menu</button>
        </div>
    </div>
    <div id="canvas-bottom"><img src="/assets/img/canvas-bottom.png" alt="image"></div>
</div>